.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    height: 60px;
    padding: 0 ;
    background-color: #f8f9fa;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
  }
  
  .navbar-left {
    flex: 1; /* Takes up one part of the available space */
    padding-left: 16px;

  }
  
  .navbar-logo {
    height: 40px;
    cursor: pointer;

  }
  
  .navbar-center {
    display: flex;
    justify-content: center; /* Center the links horizontally */
    flex: 2; /* Takes up two parts of the available space */
  }
  
  .navbar-link {
    margin: 0 15px;
    font-size: 16px;
    color: #333;
    cursor: pointer;
  }

  .navbar-link.active {
    color: #0255D6; /* Highlighted color */
    font-weight: bold; /* Or any other style to differentiate the active link */
  }
  
  .navbar-link:hover {
    color: #2c78c9;
  }
  
  .navbar-right {
    flex: 1; /* Takes up one part of the available space */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 16px;
  }
  
  .navbar-button {
    padding: 8px 16px;
    background-color: #0255D6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #0056b3;
  }
  